/* Importance: Provides global styles for the frontend application. */

/* Define global styles for the application */
/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
} */
/* src/index.css */

/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  width: 100%;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
} */

/* src/index.css */
/* src/index.css */
/* src/index.css */
/* src/index.css */
/* src/index.css */
/* src/index.css */
/* src/index.css */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif; 
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 64px; /* Add margin to account for the fixed navbar */
}

.App > div {
  flex: 1;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.1); /* Slightly faded color of the parent */
  color: inherit; /* Keep the text color the same */
  text-decoration: none; /* Remove the underline */
  padding: 8px 16px; /* Add some padding for better appearance */
  border-radius: 20px; /* Circular shape */
}

/* Ensure the footer links have the Roboto font */
footer a {
  font-family: 'Roboto', sans-serif;
}

/* Reset padding and margin for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .main-content {
  /* padding-top: 64px; Adjust based on your Navbar height
} 